# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.PluginProject.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Projects\UE4Project\PluginProject\.idea\.idea.PluginProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
